{#!!! СSS повністю використовується з report.css !!!#}
{% extends 'layout.html' %}

{% block title %} Driver Details {% endblock %}

{% block body%}

    <div class="report_title">
        <h2> Driver Details </h2>
    </div>
    <div class="main_container_report">
        <div class="container_report_title">
            <div><h4> Code </h4></div>
            <div><h4> Name </h4></div>
            <div><h4> Team </h4></div>
            <div><h4> Start Time </h4></div>
            <div><h4> End Time </h4></div>
            <div><h4> Result Time </h4></div>
        </div>
        <div class="chaild_conteiner_report_racer_data">
                <div class="driver_details"><h5> {{ driver.nik_name}} </h5></div>
                <div><h5> {{ driver.name}} </h5></div>
                <div><h5> {{ driver.team}} </h5></div>
                <div><h5> {{ driver.start_time}} </h5></div>
                <div><h5> {{ driver.end_time }} </h5></div>
                <div><h5> {{ driver.result_time }} </h5></div>
        </div>
    </div>
{% endblock%}
